.products {
  width: 100%;
  height: auto;
  background-image: url("/images/bg333.png");
  background-size: cover;
  padding-bottom: 90px;
}
.title {
  margin: 40px auto;
  width: fit-content;
  text-align: center;
  color: #00d169;
}
.title span {
  font-weight: bolder;
}
.title h2 {
  font-size: 35px;
  margin-top: 20px;
  width: 100%;
  line-height: 1.35;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  width: 85%;
  height: auto;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.grid > div {
  width: 350px;
  height: auto;
  padding-bottom: 30px;
  box-shadow: 5px 9px 35px 0 rgba(143, 143, 143, 0.2),
    2.5px 9px 26px 0 rgba(143, 143, 143, 0.1);
  border-radius: 12px;
  border: 2px solid rgba(101, 101, 101, 0.053);
  overflow: hidden;
}

.grid > div .img {
  width: 95%;
  height: 220px;
  padding: 20px;
  border-radius: 9px;
  position: relative;
  margin: auto;
}
.grid > div .img img {
  border-radius: 9px;
}
.grid > div .capt {
  width: 100%;
  height: 260px;
  padding: 20px 20px;
}
.detail {
  margin-top: 50px;
  font-weight: 100;
  color: #5d5f5f;
  text-align: justify;
  line-height: 1.2;
}
.date {
  width: 100%;
  height: 40px;
  margin: auto;
}
.secondp {
  font-weight: 500 !important;
  font-size: 15.5px !important;
}

@media screen and (min-width: 1500px) {
  .grid > div {
    width: 450px;
    height: 500px;
  }
  .grid > div .img {
    height: 220px;
  }
}
.date i {
  margin-right: 12px;
  color: #ffb703;
}
.grid > div p {
  line-height: 1.6;
  font-weight: 200;
  font-size: 12px;
  padding: 0 1.5px;
}
.grid > div button {
  background-color: #00d169;
  color: white;
  padding: 15px 20px;
  margin-top: 30px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.upcoming {
  width: 100%;
  height: 450px;
  background-image: url("/images/cta-bg.jpeg");
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  margin-top: 150px;
}
.upcoming .title {
  color: white;
  width: fit-content;
  padding: 20px 25px;
  text-align: center;
}
.upcoming .title span {
  color: #ffb703;
}
.upcoming .title h2 {
  width: 100% !important;
}
.upcoming .title p {
  width: 65%;
  margin: 20px auto;
  line-height: 1.8;
}
.upcoming .title button {
  background-color: #ffb703;
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-top: 40px;
  padding: 18px 25px;
}
@media screen and (max-width: 1200px) {
  .grid {
    justify-content: space-around;
  }
  .grid > div {
    margin: 30px 0;
  }
}
@media screen and (max-width: 900px) {
  .grid > div {
    margin: 30px 0;
  }
}
@media screen and (max-width: 600px) {
  .title h2 {
    font-size: 25px;
  }
  .grid > div {
    margin: 30px 0;
  }
  .grid > div .img {
    height: 180px;
  }
}
@media screen and (max-width: 420px) {
  .upcoming {
    height: 550px;
  }
  .upcoming .title {
    padding: 20px 10px;
  }
  .upcoming .title p {
    width: 90%;
  }
}
