.products {
  width: 100%;
  height: auto;
  background-image: url("/images/bg333.png");
  background-size: cover;
  padding-bottom: 90px;
}
.title {
  margin: 40px 120px;
  width: fit-content;
  text-align: center;
  color: #00d169;
}
.title span {
  font-weight: bolder;
}
.title h2 {
  font-size: 35px;
  margin-top: 20px;
  width: 100%;
  line-height: 1.35;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px 0;
}
.grid > div {
  width: 350px;
  min-width: 350px;
  height: auto;
  margin: 20px 10px;
  padding-bottom: 30px;
  box-shadow: 5px 9px 35px 0 rgba(143, 143, 143, 0.2),
    2.5px 9px 26px 0 rgba(143, 143, 143, 0.1);
  border-radius: 12px;
  border: 2px solid rgba(101, 101, 101, 0.053);
  overflow: hidden;
}

.grid > div .img {
  width: 95%;
  height: 220px;
  padding: 20px;
  border-radius: 9px;
  position: relative;
  margin: auto;
}
.grid > div .img img {
  border-radius: 9px;
}
.grid > div .capt {
  width: 100%;
  height: 260px;
  padding: 20px 20px;
}
.detail {
  margin-top: 50px;
  font-weight: 100;
  color: #5d5f5f;
  text-align: justify;
  line-height: 1.2;
}
.date {
  width: 100%;
  height: 40px;
  margin: auto;
}
.secondp {
  font-weight: 500 !important;
  font-size: 15.5px !important;
}

@media screen and (min-width: 1500px) {
  .grid > div .img {
    height: 220px;
  }
}
.date i {
  margin-right: 12px;
  color: #ffb703;
}
.grid > div p {
  line-height: 1.6;
  font-weight: 200;
  font-size: 12px;
  padding: 0 1.5px;
}
.grid > div button {
  background-color: #00d169;
  color: white;
  padding: 15px 20px;
  margin-top: 30px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 740px) and (min-width: 550px) {
  .grid {
    width: 75%;
  }
  .grid > div {
    width: 95%;
    height: 540px;
  }
}
@media screen and (max-width: 600px) {
  .title h2 {
    text-align: center;
    width: 100%;
  }
  .title {
    margin: 40px auto;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 420px) {
  .grid > div .img {
    height: calc(0.9 * 220px);
  }
}
@media screen and (max-width: 320px) {
  .grid > div .img {
    height: calc(0.8 * 220px);
  }
  .grid > div {
    min-width: 95%;
  }
  .grid {
    width: 100% !important;
  }
}
