.features {
  width: 100%;
  padding: 0px 10px;
  margin-bottom: 50px;
}
.features h2 {
  font-size: 50px;
  text-align: center;
}
.features h2 span {
  color: #00d169;
}
.callTo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-bottom: 20px;
}
.callTo > p {
  text-align: center;
  padding: 20px 160px;
}
.callTo button {
  color: white;
  background-color: #00d169;
  margin: 10px auto;
  width: fit-content;
  font-size: large;
  height: fit-content;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.phoneContainer {
  width: 900px;
  max-width: 100%;
  display: flex;
  height: fit-content;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 40px auto;
  margin-bottom: 80px;
  position: relative;
  transition: 0.5s;
}
.featuresGrid {
  width: 65%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-flow: column wrap;
  transition: 0.5s;
}
.create {
  background-color: #00d169;
  margin-left: 20px;
  padding: 40px 50px !important;
  margin-top: 60px;
  color: white;
  transition: 0.5s;
  border-radius: 10px;
}
.create h3 {
  margin-bottom: 15px;
}
.cardInfo:nth-child(odd) {
  color: black;
  flex: 90%;
  background-color: #e8e8e8 !important;
  margin-left: 130px;
  padding: 0px 30px;
  max-height: 0;
  font-size: 14px;
  overflow: hidden;
  transition: 0.5s;
}
.cardInfo:nth-child(even) {
  color: white;
  flex: 90%;
  background-color: black;
  margin-left: 120px;
  margin-top: 2.5px;
  padding: 10px 30px;
  transition: 0.5s;
  border-radius: 10px;
}
.pepPhone {
  position: absolute;
  width: calc(0.3 * 900px);
  height: calc(0.3 * 1779px);
  top: 0;
  right: -255px;
}
@media screen and (max-width: 720px) {
  .pepPhone {
    position: absolute;
    width: calc(0.2 * 900px);
    height: calc(0.2 * 1779px);
    top: 0;
    right: calc(-1 * 0.2 * 900px + 15px);
  }
  .create {
    display: none;
  }
  .featuresGrid {
    align-items: center;
    padding-top: 60px;
  }
  .features h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 650px) {
  .cardInfo:nth-child(odd) {
    flex: 1;

    margin-left: 30px;
  }
  .cardInfo:nth-child(even) {
    margin-left: 30px;
    flex: 1;
  }
  .features h2 {
    font-size: 35px;
  }
  .callTo > p {
    padding: 20px 80px;
  }
}
@media screen and (max-width: 490px) {
  .features h2 {
    font-size: 30px;
  }
  .callTo > p {
    padding: 20px 30px;
  }
  .pepPhone {
    position: absolute;
    width: calc(0.16 * 900px);
    height: calc(0.16 * 1779px);
    top: 0;
    right: calc(-1 * 0.16 * 900px + 15px);
  }
  .featuresGrid {
    align-items: center;
    padding-top: 20px;
    font-size: small;
  }
  .cardInfo:nth-child(odd) {
    margin-left: 5px;
  }
  .cardInfo:nth-child(even) {
    margin-left: 5px;
  }
}
