.tracker {
  width: 100%;
}
.tracker .hero {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
.tracker .hero > div {
  flex: 1 1;
}
.tracker .hero > div:first-child {
  position: relative;
  height: calc(0.45 * 1080px);
  width: calc(0.45 * 1080px);
  margin-right: 10px;
}
.trackerText {
  padding-top: 80px;
}
.trackerText h3 {
  color: #07da97;
  font-weight: bolder;
  font-size: 24px;
}
.trackerText h1 {
  font-size: 50px;
  font-weight: bolder;
}
.trackerText h1 span {
  color: #07da97;
}
.analyze {
  width: 100%;
  margin-top: 50px;
  padding: 40px 10px;
  display: flex;
  /* justify-content: center; */
  flex-flow: row wrap;
}
.analyze > div {
  position: relative;
  flex: 1;
}
.analyze > div:first-child {
  padding: 20px 40px;
}
.analyze > div:first-child p {
  padding-right: 70px;
  line-height: 1.7;
}
.analyze > div:first-child h3 {
  margin-bottom: 20px;
}
.analyze > div:first-child h3 span {
  color: #07da97;
}
.analyze > div:nth-child(2) {
  width: calc(0.7 * 700px);
  height: calc(0.7 * 400px);
}
.features {
  padding: 20px 10px;
  /* overflow-x: scroll; */
}
.features > p {
  text-align: center;
  padding: 20px 160px;
}
.features > p span {
  text-align: center !important;
}
.talk {
  margin: auto;
  width: fit-content;
  height: fit-content;
}
.talk button {
  background-color: #167252;
  color: white;
  padding: 12px 30px;
  border: none;
  font-size: medium;
  border-radius: 7px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .analyze > div:nth-child(2) {
    width: calc(0.58 * 700px);
    height: calc(0.58 * 400px);
  }
}
@media screen and (max-width: 850px) {
  .analyze > div:nth-child(2) {
    width: calc(0.5 * 700px);
    height: calc(0.5 * 400px);
  }
  .features > p {
    text-align: center;
    padding: 20px 100px;
  }

  .trackerText h3 {
    padding: 0 40px;
  }
  .trackerText h1 {
    font-size: 37px;
    padding: 40px;
  }
}
@media screen and (max-width: 768px) {
  .analyze {
    display: block;
  }
  .analyze > div:nth-child(2) {
    width: calc(0.7 * 700px);
    height: calc(0.7 * 400px);
    max-width: 100%;
    margin: 30px 0;
  }
  .analyze > div:first-child {
    padding: 20px 10px;
  }
  .features > p {
    text-align: center;
    padding: 20px 70px;
  }
}
@media screen and (max-width: 620px) {
  .tracker .hero > div {
    flex: 100%;
  }
  .trackerText h3 {
    padding: 0 30px;
  }
  .trackerText h1 {
    font-size: 37px;
    padding: 30px;
  }

  .tracker .hero > div:first-child {
    position: relative;
    height: calc(0.35 * 1080px);
    width: calc(0.35 * 1080px);
    margin-right: 0px;
  }
}

@media screen and (max-width: 450px) {
  .talk button {
    padding: 12px 20px;
  }
  .trackerText {
    padding-top: 30px;
  }
  .analyze > div:nth-child(2) {
    width: calc(0.45 * 700px);
    height: calc(0.45 * 400px);
  }
  .tracker .hero > div:first-child {
    position: relative;
    height: calc(0.3 * 1080px);
    width: calc(0.3 * 1080px);
  }
  .features > p {
    /* text-align: left; */
    padding: 20px 10px;
  }
  .features > p span {
    text-align: center !important;
  }

  .analyze > div:first-child p {
    padding-right: 0px;
    line-height: 1.7;
  }
}
