/* /////FOOOTER SECTION ----------------------------- */

.footer {
  width: 100%;
  height: auto;
  background-image: url("/images/footer-bg.jpeg");
  background-size: cover;
  background-position: center;
  padding: 40px 60px;
  /* background: linear-gradient(90deg, #E5FAF1, #63d7a6); */
  color: white;
  position: relative;
}
.grid {
  width: 100%;
  height: 85%;
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
}
.icons i {
  font-size: 20px;
}
.grid > div {
  flex: 20%;
  margin: 10px 14px;
}
.grid > div h2 {
  font-size: 18px;
}
.grid > div:nth-child(2) > div {
  display: flex;
  margin: 32px 10px;
  font-size: 12px;
}
.grid > div:nth-child(2) {
  flex-grow: 3;
}
.icons {
  width: 55%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.grid > div:nth-child(2) > div > div:nth-child(1) {
  width: 35px;
  height: 30px;
  position: relative;
  margin-right: 18px;
  overflow: hidden;
}
.grid > div:nth-child(2) > div > div:nth-child(2) {
  line-height: 1.6;
}
.grid > div:nth-child(3) > div,
.grid > div:nth-child(4) > div {
  margin: 35px 0;
  cursor: pointer;
  font-size: 12px;
}
.grid > div:nth-child(3) > div i,
.grid > div:nth-child(4) > div i {
  margin-right: 13px;
  color: #00b960;
}
.grid > div:nth-child(1) p {
  width: 100%;
  margin-top: 40px;
  line-height: 1.9;
  margin-bottom: 40px;
  color: white;
}
.logo {
  width: 235.8px;
  height: 44px;
  width: 205px;
  height: 205px;
  /* background-color: orange; */
  position: relative;
}
.logo img {
  object-fit: cover;
}
.grid > div:last-child form {
  margin-top: 80px;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}
.grid > div:last-child form input {
  background-color: #333333;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  font-size: 17px;
  margin-top: 20px;
  color: white;
  border: none;
  outline: none;
}
.grid > div:last-child form input::placeholder {
  color: whitesmoke;
}
.grid > div:last-child form button {
  width: 100%;
  height: 65px;
  background-color: #ffb703;
  font-weight: bold;
  border: none;
  font-size: 17px;
  color: black;
  margin-top: 20px;
}
.copyright {
  width: 100%;
  height: 67.2px;
  background: rgba(51, 51, 51, 0.4);
  display: flex;
  color: #00b960;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
.copyright > div {
  width: fit-content;
  height: fit-content;
}
.copyright ul li {
  display: inline-block !important;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: fit-content;
  margin: 0 10px;
}
.copyright > div ul li i {
  margin: 0 12px;
  color: #ffb703;
  font-size: 8px;
}
@media screen and (max-width: 1200px) {
  .grid {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .footer {
    padding: 40px 15px !important;
  }
  .grid > div:nth-child(2) > div > div:nth-child(1) {
    height: 50px !important;
    width: 50px !important;
    transform: scale(0.85);
  }
}
@media screen and (max-width: 560px) {
  .footer {
    padding: 40px 30px !important;
  }
  .copyright {
    padding: 20px 40px !important;
  }
  .copyright ul li {
    margin: 5px 10px;
  }
}
@media screen and (max-width: 920px) {
  .grid {
    flex-flow: column wrap;
  }
  .grid > div {
    margin: 30px 0;
  }
  .grid > div:last-child {
    margin-bottom: 120px;
  }
  .footer {
    padding: 40px 80px;
  }
  .icons {
    width: fit-content;
  }
  .icons i {
    margin: 0 10px;
  }
  .grid > div:nth-child(2) > div > div:nth-child(1) {
    height: 45px;
    width: 45px;
    transform: scale(0.85);
  }
  .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
  }
  .copyright > div:nth-child(1) {
    order: 2;
    margin-top: 20px;
    font-weight: bold;
  }
}
