.burden {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 25px;
}
.burden > div {
  width: 50%;
}
.burden > div:first-child {
  background-image: url("/images/pep guy.png");
  background-size: cover;
  background-position: center;
  height: 600px;
}
.burden > div:nth-child(2) {
  padding: 0px 30px;
}
.burd {
  font-size: 55px;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 30px;
}
.burd span {
  color: #00d169;
}
.burden > div > p {
  font-weight: 600;
}
.cont > div {
  width: 83%;
  box-shadow: 5px 9px 10px 0 rgba(143, 143, 143, 0.1),
    2.5px 9px 10px 0 rgba(143, 143, 143, 0.25);
  margin-top: 40px;
  border-radius: 10px;
  height: fit-content;
  background-color: black;
  padding-bottom: 20px;
  color: white;
}
.cont h2 {
  margin: 20px 45px;
}
.cont p {
  font-size: small;
  padding: 5px 45px;
}
@media screen and (max-width: 892px) {
  .burden > div {
    width: 100%;
  }
  .burden > div:nth-child(2) {
    padding: 50px 30px 0 30px;
  }
  .cont > div {
    width: 70%;
  }
}
@media screen and (max-width: 770px) {
  .burden > div {
    width: 100%;
  }
  .burden > div:nth-child(2) {
    padding: 50px 30px 0 30px;
  }
  .cont > div {
    width: 75%;
  }
  .burden > div:first-child {
    height: 500px;
  }
}
@media screen and (max-width: 678px) {
  .cont > div {
    width: 85%;
  }
}
@media screen and (max-width: 521px) {
  .cont > div {
    width: 100%;
  }
  .burden > div:nth-child(2) {
    padding: 50px 10px 0 10px;
  }
  .burden > div:first-child {
    height: 380px;
  }
  .burd {
    font-size: 40px;
  }
}
@media screen and (max-width: 420px) {
  .cont > div {
    width: 100%;
  }
  .burden > div:nth-child(2) {
    padding: 50px 0px 0 0px;
  }
  /* .burden > div:first-child {
    height: 350px;
  } */
}
