.products {
  background-color: #e8eaee;
  width: 100%;
  padding: 20px;
}
.sponsors {
  padding: 80px 20px 40px 20px;
  width: 100%;
  height: 100%;
}
.sponsors .title {
}
.sponsors h2 {
  font-size: 45px;
  text-align: center;
}
.sponsors h2 span {
  color: #00d169;
}
.sponsors h3 {
  font-size: 35px;
  text-align: center;
  margin-top: 60px;
}
.container {
  width: fit-content;
  margin: 20px auto;
  padding: 0;
  height: fit-content;
  overflow: hidden;
}
.sponsors .sponsorsGrid {
  width: fit-content;
  padding: 20px 0px;
  height: auto;
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* animation: slide 10s infinite linear; */
}
.sponsors .sponsorsGrid > div {
  position: relative;
  min-width: 220px;
  height: 125.5px;
  margin: 0 2.5px;
  border-radius: 5px;
  overflow: hidden;
}
.sponsors .sponsorsGrid > div:nth-child(1) {
  margin-left: 0;
}
.sponsors .sponsorsGrid > div:last-child {
  margin-right: 0;
}
.thoughtGrid {
  width: 85%;
  margin: 50px auto;
  border-radius: 25px;
  padding: 40px 45px;
  box-shadow: 5px 9px 10px 0 rgba(143, 143, 143, 0.1),
    2.5px 0px 10px 0 rgba(143, 143, 143, 0.25);
  display: flex;
  overflow-x: scroll;
  flex-flow: row;
}
.thoughtGrid::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.thoughtGrid > div {
  min-width: 290px;
  max-width: 300px;
  margin: 0 20px;
  height: fit-content;
}
.thoughtGrid > div:first-child {
  margin-left: 0;
}
.thoughtGrid > div .image {
  width: 100%;
  height: calc(0.75 * 350px);
  position: relative;
  border: 10px solid #5271ff;
  border-radius: 12px;
}
.thoughtGrid > div .details {
  text-align: center;
  padding: 12px 10px;
}
.sponsors .callToAction {
  margin: 40px auto 0 auto;
  text-align: center;
}
.sponsors .callToAction button {
  margin: 50px 15px;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: medium;
  border-radius: 7px;
}

@keyframes slide {
  from {
    transform: translate(0px, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

/* //--------------------solutions page--------------------- */
.solutions {
  width: 100%;
  height: auto;
}
.solutions .hero {
  width: 100%;
  height: 490px;
  position: relative;
  padding-bottom: 0px;
}
.solutions .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.itHero .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.solutions .centered {
  width: 80%;
  height: 90%;
  position: absolute;
  z-index: 101;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  padding-top: 90px;
}
.solutions .centered div {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  /* color: rgb(139, 139, 139); */
}
.solutions .centered h1 {
  color: #00d169;
  text-align: center;
  font-size: 45px;
}
.solutions .centered h2 {
  text-align: center;
  color: white;
  font-weight: 300;
  width: 70%;
  text-align: center;
  margin: auto;
}
.solutions .about {
  width: 100%;
  background-image: url("/images/bg333.png");
  background-size: cover;
  padding-bottom: 95px;
  height: fit-content;
  position: relative;
}
.solutions .about .video {
  width: 640px;
  height: 360px;
  max-width: 100%;
  margin: 0px auto;
  margin-top: 0px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 60px;
  z-index: 2000000000000000000;
}
.solutions .video video {
  width: 100% !important;
  height: 100% !important;
}
.solutions .about .dashboard {
  margin-top: -160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: calc(0.25 * 4095px);
  height: calc(0.25 * 2646px);
  max-width: 100%;
  transition: 0.3s;
  z-index: 102;
  border-radius: 5px;
  overflow: hidden;
  -webkit-filter: drop-shadow(5px 9px 35px rgba(143, 143, 143, 0.2));
  filter: drop-shadow(5px 9px 35px rgba(143, 143, 143, 0.2));
}
.solutions .about h3 {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}
.solutions .key {
  width: fit-content;
  margin: auto;
  padding-top: 90px;
  text-align: center;
}
.solutions .key h3 {
  color: #00d169;
  font-weight: 500;
  font-size: 30px;
}
.solutions .key p {
  font-weight: 200;
  font-size: 14px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.9;
  width: 60%;
  text-align: center;
}
.solutions .featured {
  width: 100%;
  height: fit-content;
  padding-bottom: 80px;
  background: linear-gradient(90deg, #f1ffff, #00d1692d);
  position: relative;
}

.key .action {
  font-size: 19px !important;
}
.key button {
  background-color: #00d169;
  color: white;
  border: none;
  outline: none;
  margin: 40px auto;
  padding: 25px 33px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.solutions .featured .phone {
  width: calc(0.3 * 1080px);
  height: calc(0.3 * 1920px);
  position: absolute;
  right: 15px;
  top: -130px;
  transition: 0.5s;
  transform: rotate(0.01turn);
  /* animation: skew 2.9s infinite linear; */
}
.cards {
  margin: auto;
  margin-top: 90px;
  width: 85%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.cards > div {
  height: auto;
  padding-bottom: 0px;
  flex: 40%;
  margin: 20px 25px;
  background-color: #010d14;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
}
.cardDiv {
  flex: 20% !important;
  margin: 0px 10px !important;
  display: flex !important;
  flex-flow: column wrap !important;
  justify-content: space-between !important;
}

.cards > div > div {
  margin: 25px 0;
}
.cards > div > div p {
  font-size: 15px;
  line-height: 1.5;
  padding: 0 35px;
  font-weight: lighter;
  text-align: center;
  color: lightgray;
}
.icons {
  width: 70px;
  height: 70px;
  position: relative;
}

/* \\\\\\=-------------------- ABOUT US PAGE ____-------------------- */
.aboutUs {
  width: 100%;
  height: auto;
}
.aboutHero {
  width: 100%;
  height: 553px;
  position: relative;
}

.itHero {
  width: 100%;
  height: 700px;
  background-image: url("/images/cons2_1.webp");
  background-size: cover;
  background-position: center;
  position: relative;
}
.aboutUs img {
  object-fit: cover;
}
.aboutHero .centered {
  width: 80%;
  height: 70%;
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.itHero .centered {
  width: 80%;
  height: 100%;
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  color: white;
}
.itHero .centered h1 {
  text-align: center;
}
.aboutHero .centered h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}
.capt3 {
  font-size: 15px !important;
  width: 70%;
  line-height: 2;
  font-weight: lighter;
  margin: 20px auto;
  color: white;
}
.aboutHero .centered h1 span,
.itHero .centered h1 span {
  color: #00d169;
}
.aboutSection {
  width: 100%;
  height: auto;
  /* background: linear-gradient(90deg, #f1ffff, #66d19b2d); */
  background-image: url("/images/about-bg.jpeg");
  background-size: cover;
  background-position: bottom;
  padding: 40px 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.aboutSection > div {
  flex: 40%;
  margin: 10px 40px;
  transition: 0.75s;
}
.aboutSection > div h2 {
  font-size: 50px;
  margin: 25px 0;

  text-align: justify;
}
.aboutSection > div > span {
  color: #00d169;
}
.aboutSection > div h2 span {
  color: #00d169;
}

.aboutSection > div p {
  line-height: 1.5;
  font-size: 14px;
  text-align: justify;
  font-weight: 200;
}

.aboutSection > div:nth-child(1) {
  transform: translateX(-200px);
  opacity: 0;
}
.aboutSection > div:nth-child(1).addWidth,
.aboutSection > div:nth-child(2).addWidth {
  transform: translateX(0);
  opacity: 1;
}

.aboutSection > div:nth-child(2) {
  height: 390px;
  transform: translateX(200px);
  opacity: 0;
  border-radius: 12px;
  margin-left: 30px;
  background: none;
  -webkit-filter: drop-shadow(5px 9px 35px rgba(143, 143, 143, 0.2));
  filter: drop-shadow(5px 9px 35px rgba(143, 143, 143, 0.2));
  overflow: hidden;
  /* width: 540px; */
  position: relative;
}

.ourTeam {
  width: 100%;
  padding: 40px 10px;
  /* background-image: url("/images/about-bg.jpeg");
  background-size: cover;
  background-position: bottom; */
  padding-bottom: 40px;
}
.ourTeam .title p {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 70%;
}
.ourTeam h2 {
  text-align: center;
  font-size: 50px;
}
.ourTeam h2 span {
  color: #00d169;
}
.ourTeam .cardss {
  width: 100%;
  margin-top: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 50px;
  padding: 0 70px;
}
.aria {
  flex: 25%;
  margin: 10px 11px;
}
.ourTeam .cardss > div {
  height: 431px;
  flex: 25%;
  min-width: 335px;
  max-width: 370px;
  transition: 0.5s;
  margin: 20px 18px;
  background-color: white;
  /* box-shadow: 5px 9px 35px 0 rgba(143, 143, 143, 0.2),
    2.5px 9px 26px 0 rgba(143, 143, 143, 0.1); */
  border-right: 1px solid rgba(0, 0, 0, 0.077);
}
.ourTeam .cardss > div .img img {
  transition: 0.6s;
}

.ourTeam .cardss > div .img {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 69%;
}
.teamDetails {
  width: 100%;
  height: 31%;
  padding: 20px 35px;
}
.teamDetails span {
  color: #a4a4a4;
  display: block;
  font-size: 13px;
  margin: 12px 0;
  text-align: center;
  font-weight: lighter;
}
.teamDetails .icons {
  margin: 10px auto;
  color: #00d169;
  width: fit-content;
}
.teamDetails .icons a {
  margin: 0 9px;
}
.teamDetails h3 {
  text-align: center;
  letter-spacing: 4px;
  font-weight: 300;
}
.closely {
  font-size: 16px;
  width: 80%;
  margin: 50px auto;
  margin-top: 0px;
}
.chooseUs {
  width: 100%;
  height: auto;
  padding: 80px 15px;
  background: linear-gradient(90deg, #f1ffff, #00d1692d);
}
.chooseUs .key {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  text-align: center;
  margin-bottom: 30px;
}
.chooseUs .key button {
  margin-left: auto;
  margin-right: auto;
}
.chooseUs h2 {
  color: #00d169;
  text-align: center;
}
.chooseUs h3 {
  text-align: center;
  font-size: 16px;
  width: 80%;
  /* color: #00d169; */
  font-weight: 200;

  margin: 20px auto;
}
/* ////------------------------- CONTACT FORM ------------ //////// */
.textArea::-webkit-scrollbar,
.textArea::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.textArea::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.contactForm {
  width: 100%;
  height: auto;
  padding: 40px 100px;
}
.contactForm .form {
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 5px 9px 40px 0 rgba(143, 143, 143, 0.1),
    2.5px 9px 40px 0 rgba(143, 143, 143, 0.25);
  display: flex;
  flex-flow: row wrap;
  transition: 0.5s;
}

.left {
  /* background-color: #00d169; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex: 55%;
  color: black;
  padding: 80px 45px;
  padding-top: 80px;
}
.left ul li {
  font-size: 13.5px;
  font-weight: lighter;
  margin: 16px 0;
  cursor: pointer;
  list-style-type: none;
}
.left ul li i {
  margin-right: 8px;
  color: #00d169;
}
.left p {
  font-size: 13.5px;
  margin: 20px 0;
  line-height: 1.6;
  font-weight: lighter;
}
.left button {
  border: 2px solid #00d169;
  background: #00d169;
  color: #fff;
  padding: 7px;
  margin-bottom: 70px;
  border-radius: 7px;
}
.right button {
  /* width: 100%; */
  padding: 15px 35px;
  border-radius: 7px;
  border: 1.5px solid black;
  color: white;
  background: black;
  margin-top: 15px;
  transition: 0.4s;
}
.right button i {
  font-size: small;
  margin: 0 13px 0 0;
}
.left > div {
  font-size: 13.5px;
  margin-top: 8px;
}
.left > div i {
  margin-right: 8px;
}
.right {
  flex: 45%;
  background-color: #02d28e;
  background-color: #00d169;
  padding: 40px 45px;
}
.right form {
  width: 95%;
  height: 100%;
  /* color: white; */
}
.maps {
  width: 328px;
  max-width: 90%;
  position: relative;
  height: 169.5px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 15px !important;
}
.right form label {
  display: block;
  color: black;
  font-weight: 500;
}
.right form input[type="text"] {
  background: none;
  border: none;
  width: 100%;
  height: 40px;
  outline: none;
  color: black;
  border-bottom: 1px solid black;
}
.right .formGroup span {
  font-size: small;
}
.right form input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
.formGroup {
  width: 100%;
  margin: 20px 0;
  position: relative;
}
.formGroup textarea::placeholder {
  color: black;
}
.formGroup textarea {
  width: 100%;
  color: black;
  background: none;
  padding: 20px 10px;
  resize: none;
  border: none;
  outline: white;
  border-bottom: 1px solid black;
}
.formGroup i {
  font-size: 35px;
  margin: 20px 15px 10px 0;
  cursor: pointer;
}

/* // ----------------- CAREERS PAGE -----------------------------------------//// */
.careers {
  width: 100%;
  height: auto;
}
.careers .careerHero {
  width: 100%;
  height: 450px;
  background-image: url("/images/careerBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.careerHero .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.careers .centered {
  width: 80%;
  height: 90%;
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.careers .centered h1 {
  text-align: center;
  color: white;
  font-size: 45px;
}
.capt4 {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 1.9;
  width: 60%;
  margin: 60px auto;
  transition: 0.5s;
  font-weight: lighter;
}
.why {
  width: 100%;
  background-color: #feffff;
  padding: 60px 40px;
  background-image: url("/images/about-bg.jpeg");
  background-size: cover;
  background-position: center;
}
.why > h2 {
  font-size: 40px;
  text-align: center;
}
.why > p {
  width: 65%;
  text-align: center;
  margin: 30px auto;
}
.why .cards {
  width: 90%;
}
.why .cards > div {
  background-color: transparent;
  color: inherit;
  border-right: 1px solid #d3d5d64e;
  transform: translateX(80px);
  opacity: 0;
  transition: 0.4s ease;
}
.why .cards > div.addWidth {
  transform: translateX(0);
  opacity: 1;
}
.why .cards > div:last-child {
  border-right: none;
}
.why .cards > div h2 {
  text-align: left !important;
}
.why .cards > div p {
  color: inherit;
  text-align: left;
  line-height: 1.6;
}
.call {
  width: 100%;
  margin: 70px auto;
  margin-bottom: 30px;
  width: fit-content;
  text-align: center;
}
.call p {
  margin: 15px auto;
}
.call h2 {
  margin-top: 20px;
  font-size: 40px;
}
.call button {
  background-color: #00d169;
  color: white;
  border: none;
  outline: none;
  margin: 40px auto;
  padding: 25px 33px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.typeStyles {
  color: #00d169;
}
.whyChoose {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 40px auto auto auto;
}
.whyChoose > div {
  position: relative;
  flex: 40%;
  margin: 20px 30px;
  height: auto;
}
.whyChoose > div:nth-child(1) {
  height: 300.15px;
  width: 450px;
  box-shadow: 5px 9px 15px 0 rgba(143, 143, 143, 0.6),
    2.5px 9px 10px 0 rgba(143, 143, 143, 0.6);
}
.whyChoose > div:nth-child(2) h2 {
  color: #00d169;
}
.whyChoose > div:nth-child(2) p {
  padding-top: 30px;
}
@media screen and (max-width: 1273px) {
  .careers .cards {
    width: 100%;
  }
  .ourTeam .cardss {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1200px) {
  .careers .cards {
    width: 100%;
  }
  .ourTeam .cardss {
    padding: 0 0px;
  }
  .ourTeam .cardss > div {
    flex: 10%;
    min-width: 335px;
    max-width: 370px;
    margin: 20px 5px;
  }
}
@media screen and (min-width: 1300px) {
  .whyChoose > div {
    max-width: 496px;
  }
  .careerHero {
    height: 600px !important;
  }
  .aboutHero {
    height: 600px;
  }
  .aboutSection {
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .aboutSection > div {
    max-width: 530px;
  }
}
@media screen and (max-width: 1063px) {
  .solutions .featured .phone {
    width: calc(0.26 * 1080px);
    height: calc(0.26 * 1920px);
    right: -20px;
    animation: bounce2 2.5s ease infinite;
  }
  .aboutSection > div:nth-child(2) {
    height: calc(0.8 * 390px);
    width: calc(0.8 * 100%);
  }
  .solutions .about .dashboard {
    width: calc(0.21 * 4095px);
    height: calc(0.21 * 2646px);
  }
  .cards > div {
    height: auto;
    padding-bottom: 0px;
    flex: 40%;
    margin: 20px 25px;
    background-color: #010d14;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
  }
  .about .grid {
    justify-content: center;
  }
  .contactForm {
    padding-left: 30px;
    padding-right: 30px;
  }
  .whyChoose {
    width: 100%;
  }
  .whyChoose > div {
    position: relative;
    flex: 40%;
    margin: 20px 30px;
    height: auto;
  }
  .whyChoose > div:nth-child(1) {
    height: calc(0.9 * 300.15px);
    width: calc(0.9 * 450px);
    margin-left: 0;
  }
  .whyChoose > div:nth-child(2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 980px) {
  .aboutSection {
    padding-left: 10px;
    padding-right: 10px;
  }
  .aboutSection > div:nth-child(2) {
    height: calc(0.7 * 390px);
    width: calc(0.7 * 100%);
    min-width: 339px;
  }
  .cards {
    justify-content: center;
  }
  .careers .cards > div {
    flex: 44% !important;
    max-width: 422px;
  }
  .careers .cards > div:first-child {
    margin-left: 0 !important;
  }
  .careers .cards > div:nth-child(2) {
    margin-right: 0 !important;
  }

  .careers .cards > div p {
    height: 240px !important;
  }
  .solutions .featured .phone {
    width: calc(0.24 * 1080px);
    height: calc(0.24 * 1920px);
    right: -30px;
  }
}
@media screen and (max-width: 888px) {
  .solutions .about .dashboard {
    width: calc(0.145 * 4095px);
    height: calc(0.145 * 2646px);
    max-width: 100% !important;
  }
  .cards > div {
    min-width: 321px;
  }
  .cards {
    width: 75%;
    justify-content: center;
    align-items: center;
  }
  .cards > div p {
    padding-bottom: 40px !important;
    margin-left: auto;
    margin-right: au;
  }
}
@media screen and (max-width: 852px) {
  .solutions .about .dashboard {
    width: calc(0.135 * 4095px);
    height: calc(0.135 * 2646px);
    max-width: 100% !important;
  }
  .solutions .key {
    margin-right: 80px !important;
  }
  .solutions .featured .phone {
    width: calc(0.22 * 1080px);
    height: calc(0.22 * 1920px);
    right: -30px;
  }
  .aboutSection {
    align-items: center;
    width: 80%;
    max-width: 95%;
    margin: auto;
  }

  .aboutSection > div {
    margin-top: 40px;
  }
  .aboutSection > div:nth-child(2) {
    height: calc(0.8 * 390px);
  }

  .contactForm .form {
    flex-flow: column wrap;
  }
  .whyChoose > div:nth-child(1) {
    height: calc(0.78 * 300.15px);
    margin-left: 0;
  }
}
@media screen and (max-width: 842px) {
  .closely {
    margin-top: 30px;
  }
  .whyChoose > div:nth-child(1) {
    flex: calc(0.5 * 1000px);
    width: calc(0.5 * 1000px);
    height: calc(0.5 * 667px);
  }
  .whyChoose > div {
    margin-right: 0;
    margin-left: 0;
    max-width: 90%;
  }
  .solutions .key {
    margin-right: 50px !important;
  }
}
@media screen and (max-width: 750px) {
  .why {
    border-image: none;
  }
  .aboutSection {
    width: 85%;
  }
  .cards {
    justify-content: center;
    flex-flow: column wrap;
  }
  .careers .cards > div {
    flex: 44% !important;
    max-width: 80%;
  }
  .careers .cards > div:first-child {
    margin-left: 0 !important;
  }
  .careers .cards > div:nth-child(2) {
    margin-right: 0 !important;
  }

  .careers .cards > div p {
    height: 240px !important;
    text-align: justify;
  }
}
@media screen and (max-width: 709px) {
  .solutions .featured .phone {
    width: calc(0.2 * 1080px);
    height: calc(0.2 * 1920px);
    right: -30px;
  }
  .solutions .key {
    margin-right: 30px !important;
  }
}
@media screen and (max-width: 680px) {
  .solutions .featured .phone {
    width: calc(0.184 * 1080px);
    height: calc(0.184 * 1920px);
    right: -30px;
  }
  .solutions .key {
    margin-right: 20px !important;
  }
  .about .grid > div {
    height: 375px;
  }
  .aboutSection {
    width: 90%;
  }
  .whyChoose > div:nth-child(1) {
    flex: calc(0.4 * 1000px);
    width: calc(0.4 * 1000px);
    height: calc(0.4 * 667px);
  }
  .whyChoose > div {
    margin-right: 0;
    margin-left: 0;
    max-width: 90%;
  }
  .aboutSection {
    width: 100%;
  }
  .cards {
    width: 95%;
  }
}
@media screen and (max-width: 619px) {
  .solutions .about .dashboard {
    width: calc(0.12 * 4095px);
    height: calc(0.12 * 2646px);
  }
  .solutions .featured .phone {
    width: calc(0.174 * 1080px);
    height: calc(0.174 * 1920px);
    right: -30px;
  }
  .solutions .key {
    margin-right: 10px !important;
  }
}
@media screen and (max-width: 550px) {
  .right {
    max-width: 100%;
  }
  .cards {
    width: 90%;
  }
  .careers .cards > div {
    flex: 44% !important;
    max-width: 100%;
  }
  .why {
    padding: 60px 10px;
  }
  .whyChoose > div {
    margin: 40px 0px;
  }
  .why > h2 {
    font-size: 35px;
    text-align: center;
  }
  .whyChoose > div:nth-child(1) {
    height: calc(0.33 * 667px);
  }
  .whyChoose > div p {
    text-align: justify;
  }
  .careers .cards {
    width: 100%;
  }
  .why .cards {
    flex-flow: column wrap;
  }
  .why .cards > div {
    background-color: transparent;
    color: inherit;
    transform: translateX(80px);
    opacity: 0;
    transition: 0.4s ease;
  }
  .why > p {
    width: 97%;
    text-align: center;
    margin: 30px auto;
  }

  .capt4 {
    /* text-align: justify; */
    line-height: 1.6;
    width: 100%;
    font-size: 16px;
    margin: 30px auto;
  }
  .careers .centered h1 {
    font-size: 40px;
  }
  .careers .centered {
    width: 80%;
    height: 90%;
    position: absolute;
    z-index: 101;
  }
  .careers .careerHero {
    background-position: top;
    height: 300px;
  }
  .contactForm {
    padding: 40px 10px;
  }
  .left,
  .right {
    padding: 40px 20px;
  }
  .ourTeam .cardss {
    justify-content: center;
  }
  .ourTeam .title p {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 100%;
  }
  .cardDiv {
    flex: 50% !important;
    margin: 20px 0px !important;
  }
  .solutions .about .video {
    margin-top: 0px;
    height: 216px;
  }
  .closely {
    width: 95%;
    text-align: justify;
    line-height: 1.8;
    font-size: 14px;
    margin: 40px auto;
  }
  .itHero {
    height: 500px;
  }
  .itHero .centered {
    width: 90%;
  }
  .itHero .centered h1 {
    text-align: center;
    font-size: 22px;
  }
  .capt3 {
    width: 100%;
    font-size: 12px !important;
    line-height: normal;
    margin-top: 30px;
  }
  .aboutSection {
    padding: 40px 15px;
  }
  .aboutSection > div {
    margin: 25px 0;
    flex: 100%;
  }
  .aboutSection > div:nth-child(2) {
    width: 100%;
    height: 250px;
  }

  .cards {
    width: 95%;
  }
  .aboutHero {
    height: 450px;
  }
  .solutions .featured .phone {
    width: calc(0.15 * 1080px);
    height: calc(0.15 * 1920px);
    top: -110px;
    right: 0px;
    animation: bounce2 2.5s ease infinite;
  }
  .solutions .key {
    padding-top: 130px;
  }
  .solutions .key p {
    font-size: small;
    width: 100%;
    padding-right: 20px;
    padding-left: 25px;
  }
  .keyTwo {
    padding-top: 60px !important;
  }
  .cards {
    margin-top: 60px;
  }
  .cards > div:first-child {
    margin-top: 0px;
  }
  .cards > div:last-child {
    margin-bottom: 0px;
  }

  .solutions .centered {
    width: 80%;
    height: 90%;
    position: absolute;
    z-index: 101;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    padding-top: 45px;
  }
  .about .title h2 {
    font-size: 30px;
  }
  .solutions .about .dashboard {
    width: calc(0.1 * 4095px);
    height: calc(0.1 * 2646px);
  }
  .solutions .about .dashboard img {
    z-index: 102;
  }

  .solutions .centered h2 {
    font-size: 19px;
    margin: 10px auto;
    width: 86%;
  }
  .solutions .hero {
    height: 390px;
  }
}
@media screen and (max-width: 470px) {
  .solutions .about .dashboard {
    width: calc(0.09 * 4095px);
    height: calc(0.09 * 2646px);
    margin-top: -120px;
  }
  .sponsors .title {
    margin-left: 20px;
  }
  .sponsors {
    padding-left: 10px;
  }
  .sponsors .title p {
    font-size: 16px;
  }
  .call {
    width: 100%;
    margin: 70px auto;
    margin-bottom: 30px;
    width: fit-content;
    text-align: center;
  }
  .call h2 {
    font-size: 35px;
    width: 85%;
    margin: 40px auto 40px auto;
  }
}
@media screen and (max-width: 420px) {
  .grid > div:first-child .capt {
    right: 40px;
    font-size: 32px;
    font-weight: 700;
  }
  .cards {
    justify-content: center;
    align-items: center;
  }
  .cards > div {
    margin-left: auto;
    margin-right: auto;
  }
  .solutions .hero {
    height: 350px;
  }
  .solutions .centered {
    width: 85%;
    height: 100%;
    position: absolute;
    z-index: 101;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    padding-top: 40px;
  }
  .solutions .about .dashboard {
    width: calc(0.08 * 4095px);
    height: calc(0.08 * 2646px);
    margin-top: -110px;
  }
  .grid > div:first-child .capt2 {
    bottom: 40px;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    z-index: 100;
    color: white;
    left: 20px;
    padding-right: 15px;
  }
  .grid > div:nth-child(2) .capt {
    font-size: 24px;
  }
  .grid > div:nth-child(3) .capt {
    font-size: 22px;
  }
  .sponsors .sponsorsGrid {
    animation: rotation 2.5s infinite linear;
    animation: none;
    flex-flow: row wrap;
    overflow-x: scroll;
    justify-content: center;
  }
  .sponsors .sponsorsGrid > div {
    margin-top: 20px;
  }
  @keyframes rotation {
    0% {
      transform: translateX(-10vw);
    }

    50% {
      transform: translateX(-100vw);
    }

    100% {
      transform: translateX(-10vw);
    }
  }
}

@keyframes rotation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}
@media screen and (max-width: 400px) {
  .whyChoose > div:nth-child(1) {
    height: 200px;
  }
  .call h2 {
    font-size: 30px;
    width: 90%;
  }
  .call p {
    font-size: small;
  }
}
@media screen and (max-width: 360px) {
  .contactForm {
    padding: 40px 5px;
  }

  .call h2 {
    font-size: 30px;
    width: 100%;
  }
  .right form label {
    font-size: small;
  }
  .whyChoose > div:nth-child(1) {
    height: calc(0.29 * 667px);
  }
}

@media screen and (max-width: 340px) {
  .left ul li {
    font-size: 10px;
  }
  .solutions .about .dashboard {
    width: calc(0.065 * 4095px);
    height: calc(0.065 * 2646px);
    margin-top: -110px;
  }

  .left p {
    font-size: 10px;
    padding-right: 50px;
  }
  .left > div {
    font-size: 10px;
  }
  .right form {
    width: 100%;
    font-size: small;
  }
  .right {
    flex: 100%;
    padding: 40px 15px;
  }
  .maps {
    width: calc(0.88 * 328px);
    max-width: 95%;
    height: calc(0.88 * 169.5px);
  }

  .about .grid > div {
    max-width: 100% !important;
    min-width: 250px;
    height: 320px;
    margin: 20px auto !important;
  }
}
.spinning {
  animation: rotation 1.5s infinite linear;
  margin-right: 10px;
  height: fit-content;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@media screen and (max-width: 320px) {
  .left ul li {
    font-size: 10px;
  }
  .whyChoose > div:nth-child(1) {
    height: calc(0.24 * 667px);
  }
  .solutions .about .dashboard {
    width: calc(0.06 * 4095px);
    height: calc(0.06 * 2646px);
    margin-top: -110px;
  }

  .left p {
    font-size: 10px;
    padding-right: 30px;
  }

  .right form {
    width: 100%;
    font-size: smaller;
  }
  .right {
    flex: 100%;
    padding: 40px 15px;
  }
  .maps {
    width: calc(0.8 * 328px);
    max-width: 95%;
    height: calc(0.8 * 169.5px);
  }
}
@media screen and (max-width: 280px) {
  .careers h2 {
    font-size: 20px !important;
    text-align: center;
  }
  .aboutSection h2 {
    text-align: left !important;
  }
  .maps {
    width: calc(0.7 * 328px);
    max-width: 95%;
    height: calc(0.7 * 169.5px);
  }
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(0.01turn);
  }
  40% {
    transform: translateY(-30px) rotate(0.01turn);
  }
  60% {
    transform: translateY(-15px) rotate(0.01turn);
  }
}
